.card-header .alt-header .media-object.img-circle.session-logo {
  overflow: hidden;

  b {
    font-size: 0px;
    opacity: 0;
  }
}

#c_zadnja-seja .presence-list .presence-item {
    flex: 1 0 10% !important;
}
